body{
  background-color:#f9f9f9;
}
.task-container {
  display: flex;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 5px 15px 5px rgb(222, 231, 239) inset;
}
.task-title-container{
    display: flex;
  padding: 10px;
  margin: 10px;
}
.task-container:hover {
  background-color: rgb(239, 239, 243);
}
.task-detail-1 {
  width: 300px;
}
.task-detail-2 {
  width: 150px;
}
.task-detail-3 {
  width: 200px;
}
.task-detail-4 {
  width: 350px;
}
.task-detail-1-title {
    width: 300px;
  }
  .task-detail-2-title {
    width: 200px;
  }
  .task-detail-3-title {
    width: 200px;
  }
  .task-detail-4-title {
    width: 350px;
  }
.task-comment-icon{
    margin-right: 40px;
    cursor: pointer;
}
.task-comment-delete{
    margin-right: 20px;
    cursor: pointer;
}
.addTo-memberToTask{
    cursor: pointer;
}
.box-style{
    margin-left: 250px;
    margin-top: 30px;
    margin-right: 30px;
    min-width: 1000px;
    min-height: 600px;
    background-Color: "#fff";
    border-Radius: 20px;
    box-shadow: 5;
    
}