.task-button{
    background: rgb(35, 24, 108);
    margin: 10px;
    font-size: 16px;
    padding: 8px 16px;
    color: #e2e2e2;
}
.task-button:hover:enabled {
    cursor: pointer;
    background: rgb(107, 138, 204);
  }